%form{ method: :post }
  %input{ type: :text, name: :url, placeholder: "URL to scrape" }
  %button{ type: :submit } Queue!

%br
%table
  %thead
    %tr
      %th ID
      %th Title
      %th Url
      %th Created At

  %tbody
    - @webpages.each do |webpage|
      %tr
        %td= webpage.id
        %td= webpage.title
        %td
          %a{ href: webpage.url }= webpage.url
        %td= webpage.created_at.iso8601 6
