!!!
%html
  %head
    %title SpaceScraper-5000

    :css
      table, th, td {
        border: 1px solid black;
      }

  %body
    %p
      %a{ href: '/' } Home
      |
      %a{ href: '/timeout' } Timeout
      |
      %a{ href: '/sidekiq' } Sidekiq
      |
      %a{ href: 'http://localhost:15672' } RabbitMQ
      |
      %a{ href: 'http://localhost:7474/browser' } Neo4J
      |
      %a{ href: 'http://localhost:9200/_plugin/head/' } Elasticsearch HEAD
      |
      %a{ href: 'http://localhost:5601' } Kibana

    %br

    = yield
