!!!
%html
  %head
    %title SpaceScraper-5000
    :css
      table, th, td {
          border: 1px solid black;
      }
  %body
    %a{ href: '/' } Home
    |
    %a{ href: '/timeout' } Timeout
    |
    %a{ href: '/blacklist' } Blacklist
    |
    %a{ href: '/sidekiq' } Sidekiq
    %br
    = yield
