%table
  %thead
    %tr
      %th Domain
      %th Seconds Left
      %th Set At

  %tbody
    - @timeouts.sort_by{ |t| t[:seconds_left] }.each do |timeout|
      %tr
        %td
          %a{ href: "http://#{ timeout[:domain] }" }= timeout[:domain]
        %td= timeout[:seconds_left]
        %td= timeout[:set_at]
